# The Art of Regression with Linear Regression

I know the title is HUGE but it's true. I'm Rishat and let's learn Linear Regression together.

- [LinkedIn](https://www.linkedin.com/in/pro-programmer/)
- [YouTube](http://www.youtube.com/@itvaya)
- [gtihub](https://github.com/RishatTalukder/Machine-Learning-Zero-to-Hero)
- [Gmail](talukderrishat2@gmail.com)
- [discord](https://discord.gg/ZB495XggcF)

# A little Recap

In the previous article, I gave you small introduction of `machine learning` and what steps every machine learning model goes through and in this article we will go through the steps to build a `linear regression` model.

The steps are:

1. Get the `DATA`.
    - Define the `features` and the `target`.
2. Prepare/clean the `data`.
3. Split the `data` into `train` and `test` sets.
4. Train the `model`.
5. Evaluate the `model`.
6. Make `predictions`.

So, let's get started.

# Get the Data

Now, the first step is to get the data and as this is the `first algorithm` of `machine learning`, I want to keep it simple and talk more about the algorithm and less about cleaning the data.

So, I want to introduce you to a website called [kaggle](https://www.kaggle.com/) which is a great place to get data for `machine learning` and `data science` projects.

Here you can find real, non-real, artificial, non-aritificial, man made, woman made, child made, computer made data for `machine learning` and `data science` projects. Also, you can do competitions and make friend and also code with your friends.

This website is amazing and the more you spend time on this site the more you get amazed how much a website can do.

So, I found a dataset called [house prices in bangladesh](https://www.kaggle.com/datasets/durjoychandrapaul/house-price-bangladesh/data). I don't know if it's real or not. But we can practice some model training with this dataset. You can either download the data from my github repo or you can download it from kaggle yourself(I recommend you download it from [here](https://www.kaggle.com/datasets/durjoychandrapaul/house-price-bangladesh/data)).

So, let's see the data.

In [13]:
import pandas as pd
import numpy as np

In [15]:
data = pd.read_csv('./house_price_bd.csv')
data.head()

,Title,Bedrooms,Bathrooms,Floor_no,Occupancy_status,Floor_area,City,Price_in_taka,Location
0,We Are Offering You A Very Spacious 1960 Sq Ft...,3.0,4.0,3,vacant,1960.0,dhaka,"৳39,000,000","Gulshan 1, Gulshan"
1,Valuable 1705 Square Feet Apartment Is Ready T...,3.0,3.0,1,vacant,1705.0,dhaka,"৳16,900,000","Lake Circus Road, Kalabagan"
2,1370 square feet apartment is ready to sale in...,3.0,3.0,6,vacant,1370.0,dhaka,"৳12,500,000","Shukrabad, Dhanmondi"
3,2125 Square Feet Apartment For Sale In Bashund...,3.0,3.0,4,vacant,2125.0,dhaka,"৳20,000,000","Block L, Bashundhara R-A"
4,Buy This 2687 Square Feet Flat In The Nice Are...,3.0,3.0,4,vacant,2687.0,dhaka,"৳47,500,000","Road No 25, Banani"

We have `features` like `title`, `bedroom`, `bathroom`, `floor`, `occupancy`, `floor area`, `city`, `price` and `location`. So, linear regression is a model that predicts `numeric` values so, we should see which features are numeric and which features are categorical.

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3865 entries, 0 to 3864
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Title             3865 non-null   object
 1   Bedrooms          2864 non-null   float64
 2   Bathrooms         2864 non-null   float64
 3   Floor_no          3181 non-null   object
 4   Occupancy_status  3766 non-null   object
 5   Floor_area        3766 non-null   float64
 6   City              3865 non-null   object
 7   Price_in_taka     3865 non-null   object
 8   Location          3859 non-null   object
dtypes: float64(3), object(6)
memory usage: 271.9+ KB

That's weird... 

`Price_in_taka` column is a object meaning it's a string. So, we need to convert it to a numeric value.

But if you look at the data we might have to do a lot